﻿@model EmployeeManagementSystem.Models.Employee 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<head>
    <title></title>
</head>


<body>
    <h2 align="center">Add New Employee</h2>
    <br>
    <div>
        @using (Html.BeginForm())
        {
            <form method="post" align="center">


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="Name" class="col-xs-10 col-sm-8">

                    </div>
                </div>
                <br>
                <br>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Date_Of_Joining</label>
                    <div class="col-sm-9">
                        <input type="date"  name="Date_Of_Joining" class="col-xs-10 col-sm-8">

                    </div>
                </div>
                <br>
                <br>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Department</label>
                    <div class="col-sm-9">
                        @* <select name="Department" placeholder="Select a Department" id="Department" required value="Select A Department" class="col-xs-10 col-sm-8">
                            <option value="" disabled selected>Select a Department </option>
                            <option value="Marketing">Marketing</option>
                            <option value="Operations">Operations</option>
                            <option value="Finance">Finance</option>
                            <option value="Sales">Sales</option>
                            <option value="HR">HR</option>
                        </select>*@
                        @Html.DropDownList("Department", new SelectList(ViewBag.Department, "Id", "Name"), "Select", new { @id = "department.Id" , @class = "col-xs-10 col-sm-8" })

                    </div>
                </div>
                <br>
                <br>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Description</label>
                    <div class="col-sm-9">
                        <input type="text" name="Description" class="col-xs-10 col-sm-8">


                    </div>
                </div>
                <br>
                <br>


                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="submit" value="submit" class="btn btn-primary">

                    </div>
                </div>
                <br>

            </form>
        }

        <br> <p></p>
    </div>


  
</body>
