﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<head>
    <title></title>
</head>


<body>
    <h2 align="center">Add New Department</h2>
    <br>
    <div>
        <form method="post" align="center">


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Name</label>
                <div class="col-sm-9">
                    <input type="text" name="Name" class="col-xs-10 col-sm-8">

                </div>
            </div>
            <br>
            <br>

           <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Description</label>
                <div class="col-sm-9">
                    <input type="text" name="Description" class="col-xs-10 col-sm-8">


                </div>
            </div>
            <br>
            <br>


            <div class="form-group">
                <div class="col-sm-9">
                    <input type="submit" value="submit" class="btn btn-primary">

                </div>
            </div>
            <br>

        </form>

        <br> <p></p>
    </div>


   
    
</body>
