﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management System</h1>
    
    <p><a href="/Home/Show_Data" class="btn btn-primary btn-lg">Employees Record &raquo;</a></p>
</div>

