﻿@using System.Data;
@model DataTable
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Show_By_Dept</title>
    </head>
    <body>
        <h2 align="center">All Employees Of Specific Department</h2>
        <br>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Date_Of_Joining</th>
                        <th>Department</th>
                        <th>Description</th>
                        <th>Operations</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (System.Data.DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["Id"]</td>
                                <td>@dr["Name"]</td>
                                <td>@dr["Date_Of_Joining"]</td>
                                <td>@dr["Department"]</td>
                                <td>@dr["Description"]</td>
                                <td>
                                    <a href="/Home/Update_Record?id=@dr["Id"]">Update</a>
                                    <a href="/Home/Delete_Record?id=@dr["Id"]">Delete</a>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </body>
</html>
