﻿@using System.Data;
@model DataTable

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <!DOCTYPE html>


    <head>
        <title></title>
    </head>


    <body>
        <h2 align="center">Update An Employee Record</h2>
        <br>
        <div>
            <form method="post" align="center">
                <input type="hidden" value="@Model.Rows[0]["Id"].ToString()" id="Id" name="Id" />

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="Name" value="@Model.Rows[0]["name"].ToString()" class="col-xs-10 col-sm-8">

                    </div>
                </div>
                <br>
                <br>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Date_Of_Joining</label>
                    <div class="col-sm-9">
                        <input type="date" name="Date_Of_Joining" value="@Model.Rows[0]["Date_Of_Joining"].ToString()" class="col-xs-10 col-sm-8">

                    </div>
                </div>
                <br>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Department</label>
                    <div class="col-sm-9">
                       
                        @Html.DropDownList("Department", new SelectList(ViewBag.Department, "Id", "Name"), "Select", new { @id = "department.Id" ,@class="col-xs-10 col-sm-8" })


                    </div>
                </div>
                <br>
                <br>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Description</label>
                    <div class="col-sm-9">
                        <input type="text" name="Description" value="@Model.Rows[0]["Description"].ToString()" class="col-xs-10 col-sm-8">


                    </div>
                </div>
                <br>
                <br>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="submit" value="submit" class="btn btn-primary">

                    </div>
                </div>

            </form>
            <br><p></p>
        </div>
      
    </body>
